

{% extends 'Base.html' %}

{% block mainblock %}

  <main>
    <main role="main" class="container">
          <div class="row">
              <div class="col-8">
                <div class = "newquestion">Registration</div>
                {% if username_error %}
                <div class = "wrongpassword">Sorry, this email address allready registered!</div>
                {% endif %}
                {% if email_error %}
                    <div class = "wrongpassword">Email already used!</div>
                {% endif %}
                {% if password_error %}
                    <div class = "wrongpassword">Passwords are not equal!</div>
                {% endif %}


                <br>
                <form action="/registr" method="POST">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label {% if field.errors %} style = "color: red" {% endif %} for="{{ field.id_for_label }}"> {{ field.label }} </label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    {% for field in form.hidden_fields %}
                      {{ field }}
                    {% endfor %}
                    <button type="submit" class="btn btn-default">Registrate!</button>
                </form>


              </div>


          </div>


      </main>
  </main>
  {% endblock %}
